{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="FPf9UqfkOva1xowiOJqOIMlxBORaW2Nt0jna3-HCjPQ" /> 
    <meta name="msvalidate.01" content="70E8BDE348DAB9E88CAF99CD32C634AD" /> 
    <meta name="description" content="File your federal and state taxes for free using cash.app/taxes. Follow our step-by-step guide to easily submit your tax returns with no fees and get audit support." />
    <meta name="keywords" content="cash.app/taxes, free tax filing, Cash App Taxes, federal tax filing, state tax filing, free tax software" />
    <meta name="robots" content="index, follow" />
    <title>How to Use Cash App Taxes for Free Tax Filing – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
