{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="File your federal and state taxes for free using cash.app/taxes. Follow our step-by-step guide to easily submit your tax returns with no fees and get audit support." />
    <meta name="keywords" content="cash.app/taxes, free tax filing, Cash App Taxes, federal tax filing, state tax filing, free tax software" />
    <meta name="robots" content="index, follow" />
    <title>How to Use Cash App Taxes for Free Tax Filing – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
